
<div class="row">
    <div class="col-sm-12 col-md-12" style=''>
        <div id="post_alert" class="alert alert-danger">
            <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
      </div>
            
            <!--Begin posts here-->
			<div class="loading">
				<div class="timer-loader">Loading…</div>
			</div>
            <div id='posts'>
                <!--Box build up
                    <div class="col-sm-4 col-xs-6" style="text-align: center;">
                        <img src="assets/img/user.png" style="border:1px solid #ddd; max-width: 100%; border-radius:4px;" alt="Profile Image"> 
                        <div>This is the title here</div>
                    </div>
                <div style="clear:both"></div>
                -->
				<!-- Template build up
                <div class="post">
                    <span class="post-name">
                        <img src="assets/img/user.png" style="" class="img-thumbnail img-post" alt="Profile Image"> 
                        <a href="Preview?profile=257">Title.</a>
                    </span>
                    <hr style="margin-top:10px;">
                    <div id="says">
                        <div>TContent</div>
                        <div></div>
                    </div><br>
                    <div id="time" class="icon-time time"> 6 days</div>
                    <div id="op" class="options"> 
                        <span class="icon-user option_item" onclick=""> Read 0</span> 
                        <span class="icon-comment-alt option_item" onclick=""> Comments 0</span> 
                        <span class="icon-trash option_item" onclick=""> Remove Post</span> 
                    </div>
                    <div style="clear:both;"></div>
                </div>
				-->
            </div>
            <!--End of posts-->
            
            <!--Beginning of full message read -->
            <div id="full_message">
                <div id="back_to_home" style="padding:10px; background-color:#f5f5f5">
                    <span class="icon-angle-left" onClick="goHome()" style="cursor:pointer">	<span style="margin-left:10px;">Back to Home</span>
                    </span>
                    <span class="icon-save" style="float:right; cursor:pointer" onclick="window.print();">
                    <span style="margin-left:10px;">Download</span></span>
                </div>
                <div id="full_header">
                    <h4></h4>
                </div>
                <hr/>
		<div id="img" style="float:left; margin:10px; max-width:35%;"></div>
                <div id="full_body" style="margin-top: 30px;">
                    
                </div>
            </div>
            <!-- End of full message read -->
    </div>
</div>