<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Olamide Alli omo_luabi">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>News-stand</title>

    <!-- Bootstrap core CSS -->
    <link href="<?php echo $this->baseUrl(); ?>/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="http://css-spinners.com/css/spinner/timer.css" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="//cdn.ckeditor.com/4.5.1/standard/ckeditor.js"></script> 
    <script src="<?php echo $this->baseUrl(); ?>/js/pdf.js"></script>
    
  </head>
  <body>
    <style>
        li.users_item{
            display:none;
        }
		.loading{
			text-align:center;
			margin-right:auto;
			margin-left : auto;
		}
		#full_message{
			display:none;
		}
    </style>
<div class="modal fade" id="general_modal" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modal-title">Create a new Post</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
                <div id="all_alert" class="alert alert-danger">
                      <strong>Oh snap!</strong> Error Encountered, please change a few things and try again.
                </div>
                <div id="new_post" class="col-sm-12">
                    <form action="<?php echo $this->baseUrl(); ?>/Api" method="post" enctype="multipart/form-data" id="MyUploadForm">
                        <div class="form-group">
                            <input type="text" name="newstitle" id="newstitle" class="form-control" placeholder="News Title"/>
                            <input type="hidden" id="action" name="action" class="form-control" value="upload_news"/>
                        </div>
                        <div class="form-group">
                            <input type="file" name="ImageFile" id="imageInput" class="form-control" placeholder="Image"/>
                        </div>
                        <div class="form-group">
                            <textarea name="text_editor" id="text_editor" rows="10" cols="80"></textarea>
                            <textarea style="display:none;" name="newscontent" id="newscontent" rows="10" cols="80"></textarea>
                        </div>  
                        <div class="form-group" style="float:right; margin-top: 10px;">
                            <input type="button" id="btn-primary" class="btn-primary"  value="Post News" onclick="ii();"><input style="display:none;" type="submit" id="submit-btn"  class="btn-primary" value="Post News" />
                        </div>
                    </form>
                </div>
                <div id="rss" style="display:none" class="col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email Address"/>
                    </div>
                    <div class="form-group" style="float:right;">
                        <button type="button" class="btn btn-primary" onclick="subscribe()">Subscribe</button>
                    </div>
                </div>
                <div id="login" style="display:none" class="col-sm-12">
                    <div id="reg" style="display: none;" >
                        <span style="cursor: pointer;" onclick="show('logi')"> Have an account? Sign in. </span>
                        <div class="form-group" style="margin-top: 20px;">
                            <input type="text" id="reg_username" class="form-control" placeholder="Username" required/>
                        </div>
                        <div class="form-group">
                            <input type="email" id="reg_email" class="form-control" placeholder="Email Address" required/>
                        </div>
                        <div class="form-group" style="float:right;">
                            <button type="button" class="btn btn-primary" onclick="register()">Register</button>

                        </div>
                    </div>
                    <div id="logi" >
                        <span style="cursor: pointer" onclick="show('reg')"> New here? Register. </span>
                        <div class="form-group" style="margin-top: 20px;">
                            <input type="text" id="logi_username" class="form-control" placeholder="Username"/>
                        </div>
                        <div class="form-group">
                            <input type="password" id="logi_password" class="form-control" placeholder="Password"/>
                        </div>
                        <div class="form-group" style="float:right;">
                            <button type="button" class="btn btn-primary" onclick="login()">Login</button>
                        </div>
                    </div>
                    
                </div>
                <div id="verify" style="display:none" class="col-sm-12">
                    
                        <span style="cursor: pointer;" onclick="back('logi')"> Back to Sign in. </span>
                        <input type="hidden" id="allow" />
                        <input type="hidden" id="trace" />
                        <div class="form-group" style="margin-top: 20px;">
                            <input type="password" id="createpassword" class="form-control" placeholder="Create Password" required/>
                        </div>
                        <div class="form-group">
                            <input type="password" id="verifypassword" class="form-control" placeholder="Verify Password" required/>
                        </div>
                        <div class="form-group" style="float:right;">
                            <button type="button" class="btn btn-primary" onclick="verify()">Create new password</button>
                        </div>
                    
                </div>
            </div>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" id="closemodal" class="btn btn-default" data-dismiss="modal">Close</button>
          
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <!--Begin modal view for login here-->
  
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style='font-family:comfortaa; font-size:200%;'>
			  News-stand
		  </a>
        </div>
        <div class="navbar-collapse collapse">
          
    <?php
        $user_details = new Zend_Session_Namespace('user_details');
        $this->user_type = $user_details->user_type;
    ?>
    <a id="showmodal" data-toggle="modal" data-target="#general_modal" style="display: none;"></a>
         <ul class="nav navbar-nav navbar-right">
             <li class="users_item"><a onclick="showModal('create')" title='Create News Item' ><span class="icon-pencil"></span></a></li>
             <li><a href="Rss" title='RSS Feed'><span class="icon-rss"></span></a></li>
            <li id="p_img"><a  onclick="showPost('img')"title='Toggle View'><span class="icon-th"></span></a></li>
            <li id="p_list"><a onclick="showPost('list')" title='Toggle View'><span class="icon-th-list"></span></a></li>
            <li><a class="login_item" onclick="showModal('auth')" title='Login'><span class="icon-lock"></span></a></li>
            <li class="users_item"><a onclick="logout()" title='Logout'><span class="icon-unlock"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
	
    <div class="container" style="margin-top:55px;">
      <div class="row">
          <div class="col-sm-12">
                    <div class="alert alert-success">
					  <strong>Post!</strong> You successfully shared this post with your friends, they should thank you.
                    </div>
                  <!--End of Alerts Space-->
                  <div class="container" style="margin-left:-15px;">
                      <?php 
                        echo $this->layout()->content; 
                        //echo $this->userid;
                      ?>
                      
                  </div>
          </div>
      </div>
    </div>
    
    <script src="<?php echo $this->baseUrl(); ?>/js/jquery.min.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/js/jquery.form.js"></script>
    <script>
        $(document).ready(function(){
          base = "<?php echo $this->baseUrl(); ?>";
          url = "<?php echo $this->baseUrl(); ?>/api/";
          default_img = "<?php echo $this->baseUrl(); ?>"+"/assets/img/user.png";
          userid = "<?php echo $this->userid; ?>";
          username="<?php echo $this->username; ?>";
          <?php
            if($this->userid > 0){
          ?>
                  sureGuy();
          <?php
            }
          ?>
          <?php
            if(isset($_GET['allow'])){
                ?>
                showModal('verify');
                $('#allow').val('<?php echo $_GET['allow']; ?>');
                $('#trace').val('<?php echo $_GET['trace']; ?>');
                <?php
            }
          ?>
                  
        });
        
         // Specify the main script used to create a new PDF.JS web worker.
    // In production, leave this undefined or change it to point to the
    // combined `pdf.worker.js` file.
    PDFJS.workerSrc = "<?php echo $this->baseUrl(); ?>/js/pdf.js";
    </script>
    <script src="<?php echo $this->baseUrl(); ?>/dist/js/bootstrap.min.js"></script>
    <script src="<?php echo $this->baseUrl(); ?>/js/functions.js"></script>
    <script>
        CKEDITOR.replace( 'text_editor' );
    </script>
  </body>
</html>